*{
  margin: 0;
  padding: 0;
}
body{
	font: normal Helvetica, sans-serif; word-wrap:break-word;
	background: #fff;
  font-family: 'Dekko';
}
.conteiner {
  margin: 0 auto;
  width: 500px;
  height: 250px;
  background: #fff;
  text-align: center;
}
.timer {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  align-items: flex-end;
  justify-content: center;
  border: 5px solid blue;
  border-radius: 7px;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
p {
  margin: 0 60px;
  display: flex;
}
#hours,#min, #sec {
  margin: 0 5px;
}
#msec {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  margin-right: 50px;
}
button {
  width: 150px;
  height: 55px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Dekko';
}
button:focus {
  outline: none;
}
#stop_button {
  background-color: #eb4135;
}
